<div class="converter">
  <div class="converter__item">
    <input class="converter__input" type="number" [value]="usdRate"/>
    <select class="converter__select">
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
  </div>
  <div class="converter__item">
      <input class="converter__input" type="number" [value]="eurRate"/>
      <select class="converter__select">
        <option value="UAH">UAH</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>
  </div>
</div>
