html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  margin: 0;
}

.ng-select .ng-select-container {
  height: 100%;
  cursor: pointer !important;
}

.ng-value-label {
  display: flex;
  line-height: 40px;
  width: 200px;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.ng-dropdown-panel {
  transition: .3s;
}

.ng-dropdown-panel .scroll-host div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba($color: #ffffff, $alpha: .9);
  border-radius: 6px;
}

.ng-option, .ng-option-label {
  width: 100%;
  display: flex !important;
  align-items: center;
  gap: 10px;
  justify-content: center;
  transition: .3s;
}

.ng-option, .ng-option-label:hover {
  background: rgba($color: #cccccc, $alpha: .9);
}
